html, body {
    height: 100%;
    width: 100%;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    overflow: hidden;
}

#jsonTextArea {
    min-width: 100%;
    min-height: 25vh;
    max-height: 50vh;
}

#card-friendlies, #card-enemies {
    min-height: 8.5vh;
}

#combat-log-header {
    min-height: 8vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

#card-combat-log {
    /* 75vh is the max but borders will be cut off on the bottom due to top margin */
    /* Number is determined by the top values (100vh - card-friendlies - card-enemies - combat-log-header) */
    max-height: 72.5vh; 
    overflow-x: hidden;
    overflow-y: scroll;
}

#header-text {
    font-weight: bold;
}

#log-entry {
    min-height: 30px;
}

#log-damage-colour, #log-enemy-colour {
    color: rgb(187, 45, 59);
}

#log-heal-colour, #log-friendly-colour {
    color: rgb(21, 115, 71);
}

#log-dropdown-button {
    padding: 2%;
}

.lightmode-bg {
    background-color: whitesmoke;
}

.lightmode-text {
    color: black;
}

.darkmode-bg {
    background-color: black;
}

.darkmode-text {
    color: whitesmoke;
}