html, body {
    height: 100%;
    width: 100%;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    background-color: black;
    overflow: hidden;
}

#jsonTextArea {
    min-width: 100%;
    min-height: 25vh;
    max-height: 50vh;
    background-color: black;
    color: dimgray;
}

#card-friendlies, #card-enemies {
    background-color: rgb(125, 125, 125);
    min-height: 8.5vh;
}

#card-combat-log {
    min-height: 73vh;
    max-height: 73vh;
    background-color: rgb(125, 125, 125);
    overflow-x: hidden;
    overflow-y: scroll;
}

#combat-log-header {
    background-color: rgb(125, 125, 125);
    min-height: 8vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

#header-text {
    font-weight: bold;
}

#log-entry {
    min-height: 30px;
}

#log-damage-colour, #log-enemy-colour {
    color: darkred;
}

#log-heal-colour, #log-friendly-colour {
    color: darkgreen;
}

#log-dropdown-button {
    padding: 0%;
}

#instance-id-filter {
    background-color: black;
    color: dimgray;
}

#checkbox-filter-dmg, #checkbox-filter-heal, #checkbox-filter-buff, #checkbox-filter-energy, #checkbox-filter-anim, #checkbox-filter-tag, #checkbox-filter-json {
    color: white;
}